@model IEnumerable<OrderManager.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
